<mat-card class="no-shadow-card">
  <div class="column-flex">
    <div class="row-flex">
      <p class="authority-heading">
        Please provide the details of the authorised person(s) who are
        representing the loan request on behalf of the organization
      </p>
      <button mat-stroked-button (click)="toggleAuthorisedPersonForm()">Add Authorised Person</button>
    </div>
    <mat-card *ngIf="AuthorisedPersonForm" class="add-authority-person">
      <div class="row-flex">
        <p class="authority-heading">
          Please enter details of the authorised person
        </p>
        <button style="align-self: right" (click)="toggleAuthorisedPersonForm()" mat-stroked-button>Cancel</button>
      </div>
      <form [formGroup]="authorisedPersonFB">
        <div class="row-flex">
          <mat-form-field appearance="outline">
            <mat-label>Identification Type </mat-label>
            <mat-select formControlName="idType">
              <mat-option value="GCC">GCC</mat-option>
              <mat-option value="National">National</mat-option>
              <mat-option value="IQAMA">IQAMA</mat-option>
              <mat-option value="MISA">MISA</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Identification Number" formControlName="id"/>
          </mat-form-field>
        </div>
      </form>
      <div class="row-flex">
        <p class="authority-heading"></p>
        <button [disabled]="!authorisedPersonFB.valid" style="align-self: right" mat-stroked-button (click)="addAuthorizedPerson()">
          Add Authorised Person
        </button>
      </div>
    </mat-card>
    <table  #myTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Authorised Person Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="idType">
        <th mat-header-cell *matHeaderCellDef>Identification Type</th>
        <td mat-cell *matCellDef="let element">{{ element.idType }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Identification Number</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Authorised Person Mobile</th>
        <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Authorised Person Mail</th>
        <td mat-cell *matCellDef="let element">{{ element.mail }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
