.container
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.mat-stepper-horizontal
{
    width: 100%;
    margin: 2%;;
    box-shadow: 1px 1px 1px 1px #888888;
    overflow-y: scroll;
    border-radius: 5px;
}
.card-details
{
    display: flex;
    flex-direction: row;
    width: 100%;

}

