.card-details
{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.mat-card
{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    width: 30%;
}
.mat-form-field
{
    margin: 5px;
}

.row-flex
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 2px;
}
.column-flex
{
    display: flex;
    flex-direction: column;
    margin: 2px;
    
}

.mat-icon
{
    margin: 5px;
}
.mat-card::selection
{
    background-color: black;
}

.disabled
{
    color: #888888;
}

.enabled
{
    background-color: #42ad4e;
    color: white;
}

.enabled,.mat-icon
{
    color:aliceblue
}
.mat-form-field
{
    width: 31%;
}