<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header> License Details </mat-expansion-panel-header>
    <app-license-details></app-license-details>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Delegation of Authority Information
    </mat-expansion-panel-header>
    <app-doa-info></app-doa-info>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="!DAICompleted">
    <mat-expansion-panel-header> MISA Information </mat-expansion-panel-header>
    content
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="!licenseInfoCompleted">
    <mat-expansion-panel-header> Other Documents </mat-expansion-panel-header>
    content
  </mat-expansion-panel>
</mat-accordion>
