<mat-toolbar class="header">
    <span class="header-title">Dashboard</span>
    <div class="header-content">
        <a class="new-button" (click)="requestLoan()" mat-raised-button>New</a>
     </div>
</mat-toolbar>

<mat-sidenav-container class="example-container" >

    <mat-sidenav class="side-nav"mode="side" opened>
        <mat-list>

            <a mat-list-item routerLink='/first' class="list-item">
                <img [src]="sidf_menu_logo">
            </a>

            <mat-list-item class="list-item">
                <span>
                <mat-icon>
                    dashboard
                </mat-icon>
                <p>Dashboard</p>
            </span>
            </mat-list-item>

            <mat-list-item class="list-item">
                <span>
                <mat-icon>
                    flag
                </mat-icon>
                <p>My Cases</p>
            </span>
            </mat-list-item>

            <mat-list-item class="list-item">
                <span>
                <mat-icon>
                    mail
                </mat-icon>
                <p>Inbox</p>
            </span>
            </mat-list-item>

            <mat-list-item class="list-item">
                <span>
                <mat-icon>
                    request_quote
                </mat-icon>
                <p>Projects</p>
            </span>
            </mat-list-item>

            <mat-list-item class="list-item">
                <span>
                <mat-icon>
                    call
                </mat-icon>
                <p>IVR Management</p>
            </span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>


    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  

  
  