.example-container {
    position: absolute;
    height: 88%;
    overflow: hidden;
    background-image: url('/assets/images/pages_bg.png');

  }
.side-nav
{
    background-color: white;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%) !important;
    width: 65%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;

    
}

.header
{
    height: 12%;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 4px 5px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%) !important;
    background-color: white;
}

.mat-list-item
{

    margin-bottom: 35px;
    height: 150px;
    font-size: 12px;
}
.mat-icon
{
    font-size: 34px;
}
.sidenav-content
{
    width: 100vw;
}


.container
{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding:0px;
    
}
.left
{
    width: 5vw;
    height: 100vh;
    position: fixed;
    padding:0px;
    background-color: rgb(0, 132, 255);
    
}
.right
{
    width: 95%;
    background-color: rgb(255, 255, 255);
    padding-left:50px;
}
.nav
{
   height: 100vh;
   background-color: rgb(0, 132, 255);
   color: white;
   padding-top: 60px;
   font-weight: lighter;
   font-size: small;
}
p
{
    font-size: 30px;
}
a{
    color: white;
}
a:hover{
    color: black;
}
a:focus
{
    color: black;
}
img{
    background-color: rgb(0, 132, 255);
    max-width: 100%;
}
ul{
    border-top: 60px;
}