<mat-toolbar class="header">
    <span>My Application</span>
</mat-toolbar>

<div class="container">
    <div class="left">
    <nav class="navbar navbar-default navbar-fixed-side">
      <img [src]='sidf_menu_logo' height="48px">
      <ul class="nav flex-column">
        <li routerLinkActive="active"><a routerLink="/customer/dashboard"><mat-icon>dashboard</mat-icon></a></li>
        <li routerLinkActive="active"><a routerLink="/customer/profile"><mat-icon>perm_identity</mat-icon>Profile</a></li>
        <li routerLinkActive="active"><a routerLink="/customer/inquiry"><mat-icon>question_answer</mat-icon>Inquiry</a></li>
        <li routerLinkActive="active"><a routerLink="/customer/sales"><mat-icon>request_page</mat-icon>Sales Order</a></li>
        <li routerLinkActive="active"><a routerLink="/customer/delivery"><mat-icon>departure_board</mat-icon>Delivery</a></li>
        <li routerLinkActive="active"><a routerLink="/customer/finance"><mat-icon>attach_money</mat-icon>Financial Sheet</a></li>
        <li routerLinkActive="active"><a routerLink="/customer/upload"><mat-icon>cloud_upload</mat-icon>Master Data Upload</a></li>
      </ul>
    </nav>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>

  

  
  